<style>
  * {
    margin: 0;
    padding: 0;
  }
  section div{
    height: 1024px;
  }
  footer{
  }
  .img{
    display: inline-block;
  }
  .min500{

  }
  .max800{

  }
  .max500{

  }

  @media screen and (max-width:400px){
  }
  @media screen and (min-width:400px){
  }
  @media screen and (min-width:600px){
  }


</style>
