<style>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  #top {
    height: 150px;
    background-color: red;
  }

  #top img {
    background-color: #9195db;
    margin-top: 40px;
    padding: 14px;
  }

  #top ul {
    border-color: black;
  }

  #top ul li {
    float: left;
    font-size: 0;
    border: solid 1px;
    margin-top: 50px;
    display: inline-block;
  }

  #top li:nth-last-child(1) {
    border-radius: 0px 6px 6px 0px;
  }

  #top li:nth-child(1) {
    border-radius: 6px 0px 0px 6px;
  }

  #top ul li a {
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
  }

  #topin {
    /* width: 1280px; */
  }

  .topin1 {
    display: inline-block;
    margin: 0px 150px 0px 50px;
  }

  .topin2 {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0;
  }

  #l {
    display: inline-block;
    float: left;
    height: 500px;
    width: 20%;
    background-color: yellow;
  }

  #l ol {
    margin-left: 30%;
    margin-top: 50%;
  }

  #l li {
    padding-bottom: 10px;
  }

  #l li a {
    color: black;
    text-decoration: none;
  }

  #r {
    display: inline-block;
    float: left;
    height: 500px;
    width: 80%;
    background-color: blue;
    position: relative;
      left: 0;
      top: 0;
  }

  #ws {
    /* display: inline-block; */
    margin: 50px;
    font-size: 0;
    text-align: center;
    position: relative;
      left: 0;
      top: 0;
  }

  #nan {
    position: absolute;
    left: 468px;
    top: 158px;
  }

  #nan2 {
    position: absolute;
    width: 0;
    height: 0;
  }

  #nan3 {
    position: absolute;
    width: 31px;
    height: 61px;
    left: 302px;
    top: 78px;
  }

  #nan4 {
    position: absolute;
    left: 225px;
    top: 221px;
  }

  #nan5 {
    position: absolute;
    width: 112px;
    height: 218px;
    left: 115px;
    top: 223px;
  }
  #back{
    position: absolute;
      left: 0;
      top: 0;
  }

</style>
